    .title {
        color: #d44d5c;
        margin: 5% 20% 0 20%;
    }
    
    .title__second {
        color: #d44d5c;
        margin: 5% 20% 0 20%;
    }
    
    .title__third {
        color: #d44d5c;
    }
    
    .fullbody {
        background-color: #ced3dc;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        max-width: 1000px;
        padding: 0 15% 2% 15%;
        margin-top: 20px;
    }
    
    .fullbody__footer {
        width: 750px;
        border-top: 3px solid #d44d5c;
        padding: 0 0 0 0;
    }
    
    .section {
        background: rgba(188, 255, 80, 0.493);
    }
    
    .section__article {
        color: #2d3047;
        background: rgba(255, 127, 80, 0.493);
    }
    
    .navigation {
        top: 30px;
        min-width: 500px;
        height: 30px;
        background: #d44d5c;
        padding: 5px;
        border-width: 2px solid;
        border-radius: 10px;
        display: inline-block;
    }
    
    .navigation__link {
        color: white;
        padding: 5px;
    }
    
    .image {
        margin: 3% 25% 3% 25%;
    }